[z_calibration]
nozzle_xy_position: 68,332
switch_xy_position: 30,333
bed_xy_position: 154,154

switch_offset: 1.0
#   The trigger point offset of the used mag-probe switch.
#   Larger values will position the nozzle closer to the bed.
#   This needs to be found out manually.
#   (+) - Increasing this value gets you closer to the bed.
#   (-) - Decreasing this value gets you further away from the bed.

max_deviation: 1.500
speed: 25
probing_first_fast: false
start_gcode: 
	QUERY_PROBE
	M401
end_gcode: 
	QUERY_PROBE
	M402

# 0.15