[z_calibration]

# Apogee Toolhead
# nozzle_xy_position: 65,327
# switch_xy_position: 59,306
# switch_offset: .500

# Biqu H2 Toolhead
nozzle_xy_position: 68,333
switch_xy_position: 32,324
switch_offset: .500

#   The trigger point offset of the used mag-probe switch.
#   Larger values will position the nozzle closer to the bed.
#   This needs to be found out manually.
#   (+) - Increasing this value gets you closer to the bed.
#   (-) - Decreasing this value gets you further away from the bed.

bed_xy_position: 154,154
clearance: 15
max_deviation: 3.500
speed: 100
probing_first_fast: false
start_gcode: 
	QUERY_PROBE
	M401
end_gcode: 
	QUERY_PROBE
	M402

# 0.15